<footer >
    <div class="row">
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <h4 class="ml-5">LOGO</h4>
               <a href="/"> <img src="{{ url_for('static', filename='images/favico.png') }}" width="150" alt="Logo" class="ml-20"></a>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <h4 class="ml-5">Activities</h4>
            <ul>
                <li> <a class="foot-link" href="/">Home</a></li>
                <li> <a class="foot-link" href="#">About</a></li>
                <li> <a class="foot-link" href="#">Activities</a></li>
                <li> <a class="foot-link" href="#">News</a></li>
                <li> <a class="foot-link" href="#">Members</a></li>
                <li> <a class="foot-link" href="{{url_for('views.contact')}}" target="_top">Contacts</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <h4 class="ml-5">Menu</h4>
            <ul>
                <li> <a class="foot-link" href="/">Home</a></li>
                <li> <a class="foot-link" href="#">About</a></li>
                <li> <a class="foot-link" href="#">Activities</a></li>
                <li> <a class="foot-link" href="#">News</a></li>
                <li> <a class="foot-link" href="#">Members</a></li>
                <li> <a class="foot-link" href="#">Contacts</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <h4 class="ml-5">Legal</h4>
            <ul>
                <li> <a class="foot-link" href="#">Terms of Use</a></li>
                <li> <a class="foot-link" href="#">Privacy Policy</a></li>
                <li> <a class="foot-link" href="#">Terms and Conditions</a></li>
                <li> <a class="foot-link" href="#">Cookies</a></li>
                <li> <a class="foot-link" href="#">FAQs</a></li>
            </ul>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <h4 class="ml-5">Admin</h4>
                <p>P . O . Box 234-40601 City </p>
                <p>Email: info@alumniassoiation.com </p>
                <p>Phone:  +1 283 3445 2345</p>
        </div>
        <div class="col-lg-2 col-md-3 col-sm-6 col-xs-12">
            <h4 class="ml-5">Social</h4>
            <ul>
                <li> <a class="foot-link" href="#">WhatsApp</a></li>
                <li> <a class="foot-link" href="#">Facebook</a></li>
                <li> <a class="foot-link" href="#">Twitter</a></li>
                <li> <a class="foot-link" href="#">Instagram</a></li>
                <li> <a class="foot-link" href="#">YouTube</a></li>
            </ul>
        </div>
    </div>
    <p>Powered By: <strong>Chidebru Techs</strong></p>
    <div class="copyrights text-center">
        <p >
            &copy Copyright 2022 
            <a href="/"><span>Alumni Association</span></a>
        </p>
    </div>
</footer>